.fa {
  padding: 5px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  background: #e00e88;
  color: white; 
}
.fa:hover {
  opacity: 0.7;
}
header{
	background-color: #212121;
}
.container-fluid{
	background-color: #212121;
}
section{
	background-color: white;
	width: 61%;
	margin-left: 250px;
	height: 600px;
}
header img{
	width: 81.04%;
	height: 600px;
	margin: -100px;
	padding-left: 365px;
	align-self: auto;
}
#more {
	display: none;
}
.icone {
	width: 7%;
	height: 43px;
}
h2 {
	color: #5ce1e6;
	padding-bottom: 2%;
}
.lead {
	margin-bottom: 40px;
}
select {
	margin-bottom: 40px;
}
